body {
    padding-top: 70px;
    height: 90%;
}

.section {
    min-height: 100%;
    margin-bottom: 40px;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-brand img {
    height: 32px;
}

#download-button i {
    margin-left: 12px;
}

h1 {
    padding: 16px;
    color: #1b3c81;
    display:flex;
}

h1:before, h1:after {
  color: #1b3c81;
  content: '';
  flex: 1;
  border-bottom: solid 2px;
  margin: auto 0.25em;
}

.img-center {
    margin: 0 auto;
}

.img-element {
    padding-right: 16px;
}