html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 60px; /* footer height */
}

/* Navigation */
#squeak-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

#squeak-navbar img {
    height: 40px;
}


/* Home */
#squeak-logo {
    padding: 32px 16%;
}

#welcome-text {
    margin-top: 18px;
}

#download-button i {
    margin-right: 12px;
}


/* Headings */
h1 {
    padding: 16px;
    color: #1b3c81;
    display: flex;
}

.section-heading {
    position: relative;
    padding: 16px;
    text-align: center;
}

.section-heading span {
    font-size: 46px;
    color: #1b3c81;
    background-color: #fff;
    padding: 0 16px;
}

.section-heading:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1b3c81;
}


/* Sections */
.section {
    min-height: 100%;
    margin-bottom: 40px;
}

.section h3 {
    margin-top: 12px;
}

.section>.container>.row {
    padding: 12px;
}

.img-col {
    margin-top: 16px;
}

.item-img {
    border: 1px solid #ccc;
}

.box-icon {
    display: block;
    max-width: 161px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f5f5f5;
    vertical-align: middle;
    margin: 0 auto;
}

.box-icon i {
    color: #444;
    padding: 26px;
    font-size: 96px;
    margin: auto;
}


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}


/* Helpers */
.img-center {
    margin: 0 auto;
}

.text-center-sm {
    text-align: center;
}


/* Large devices only */
@media (min-width:992px){
    .text-center-sm {
        text-align: left;
    }
}


/* Small devices only */
@media (max-width:991px){
    .item-img {
        max-width: 200px;
    }
}