---
layout: basic
headline: Welcome to Squeak<span class="hidden-xs">/Smalltalk</span>
welcome: >
  Squeak is an open-source Smalltalk programming system with fast execution
  environments for all major platforms. It features the Morphic framework,
  which promotes low effort graphical, interactive application development and
  maintenance. Many projects have been successfully created with Squeak. They
  cover a wide range of domains such as education, multimedia, gaming, research,
  and commerce.

download_link: http://ftp.squeak.org/4.5/Squeak-4.5-All-in-One.zip
preview_link: http://ftp.squeak.org/4.6/

sub_button_group:
  - title:  News
    href:   http://news.squeak.org/
    icon:   newspaper-o

  - title:  Bugs
    href:   http://bugs.squeak.org/view_all_bug_page.php
    icon:   bug

  - title:  Donate
    href:   "#"
    class:  donate-button
    icon:   heart

screenshots:
  - img-src: img/screenshots/writing.png
    caption: "Tools for browsing, searching, and writing Smalltalk code"

  - img-src: img/screenshots/executing.png
    caption: "Run-time information in concurrent debugging sessions with direct code updates"

  - img-src: img/screenshots/scripting.png
    caption: "Script, explore, and study almost everything in the environment"

  - img-src: img/screenshots/versioning.png
    caption: "Automatic change tracking and distributed source code versioning tools"
---
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <img id="squeak-logo" src="/static/img/balloon.svg" alt="" class="img-responsive img-center">
    </div>
    <div id="welcome-text" class="col-md-6 col-lg-6">
      <h2>{{ page.headline }}</h2>
      <div>{{ page.welcome }}</div>
      <div class="text-center">
        <a id="download-button" class="btn btn-primary" href="{{ page.download_link }}" target="_blank" role="button">
          <i class="fa fa-windows fa-lg"></i>
          <i class="fa fa-apple fa-lg"></i>
          <i class="fa fa-linux fa-lg"></i>
          Download
        </a>
        <a id="download-button" class="btn btn-primary" href="{{ page.preview_link }}" target="_blank" role="button">
          4.6 Release Candidate
        </a>
        <p><a href="/downloads/">More...</a></p>

        <div id="sub-button-group" class="btn-group btn-group-sm" role="group" aria-label="...">
          {% for button in page.sub_button_group %}
          <a class="{% if button.class %}{{ button.class }} {% endif %}btn btn-default" href="{% if button.href %}{{ button.href }}{% else %}#{% endif %}" target="_blank" role="button">
            <i class="fa fa-{{ button.icon }}"></i>
            {{ button.title }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->

<div id="screnshot-wrapper">
  <div class="container">
    <div id="screenshots" class="row">
      {% for screenshot in page.screenshots %}
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center slideshow-item" style="{{ currentStyle }}">
        <a href="#" class="screenshot-img">
          <img src="{{ screenshot.img-src }}" alt="" class="img-responsive img-center">
        </a>
        <p class="lead">
          {{ screenshot.caption }}
          <a href="#" class="screenshot-button pull-left" data-target="left">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a href="#" class="screenshot-button pull-right" data-target="right">
            <i class="fa fa-chevron-right"></i>
          </a>
        </p>
      </div>
        {% assign currentStyle = "display: none" %}
      {% endfor %}
    </div>
  </div>
</div>

{% for collection in site.collections %}
  {% if collection[1].hidden == nil or collection[1].hidden == false %}
    {% assign section = collection[1].label %}
    {% include section_preview.html section=section %}
  {% endif %}
{% endfor %}
