---
layout: basic
headline: Welcome to Squeak<span class="hidden-xs">/Smalltalk</span>
welcome: >
  Squeak is an open-source Smalltalk programming system with fast execution
  environments for all major platforms. It features the Morphic framework,
  which promotes low effort graphical, interactive application development and
  maintenance. Many projects have been successfully created with Squeak. They
  cover a wide range of domains such as education, multimedia, gaming, research,
  and commerce.

download_link_mac: http://files.squeak.org/5.3/Squeak5.3-19435-64bit/Squeak5.3-19435-64bit-202003021730-macOS.dmg
download_link_win: http://files.squeak.org/5.3/Squeak5.3-19435-64bit/Squeak5.3-19435-64bit-202003021730-Windows.zip
download_link_lin: http://files.squeak.org/5.3/Squeak5.3-19435-64bit/Squeak5.3-19435-64bit-202003021730-Linux.zip
download_link_arm: http://files.squeak.org/5.3/Squeak5.3-19435-32bit/Squeak5.3-19435-32bit-202003021730-ARMv6.zip
download_link_all: http://files.squeak.org/5.3/Squeak5.3-19435-64bit/Squeak5.3-19435-64bit-All-in-One.zip

release_notes_link: https://raw.githubusercontent.com/squeak-smalltalk/squeak-app/squeak-trunk/release-notes/5.3

sub_button_group:
  - title:  News
    href:   http://news.squeak.org/
    icon:   newspaper-o

  - title:  Bugs
    href:   http://bugs.squeak.org/view_all_bug_page.php
    icon:   bug

  - title:  Gifts
    href:   https://shop.spreadshirt.com/Squeak/
    icon:   gift

  - title:  Donate
    href:   "#"
    class:  donate-button
    icon:   heart

screenshots:
  - img-src: img/screenshots/writing.png
    caption: "Tools for browsing, searching, and writing Smalltalk code"

  - img-src: img/screenshots/executing.png
    caption: "Run-time information in concurrent debugging sessions with direct code updates"

  - img-src: img/screenshots/scripting.png
    caption: "Script, explore, and study almost everything in the environment"

  - img-src: img/screenshots/versioning.png
    caption: "Automatic change tracking and distributed source code versioning tools"

  - img-src: img/screenshots/tools.png
    caption: "Multiple user interface themes and settings for personalization"

  - img-src: img/screenshots/applications.png
    caption: "Expressive language, powerful tools, and direct manipulation for creative projects"

  - img-src: img/screenshots/etoys.png
    caption: "Educational tools for teaching powerful ideas in compelling ways"  

---

<!-- <div class="alert alert-success text-center" role="alert">
  <b>New faces on the Squeak Oversight Board for 2017! Read more <a href="https://squeak.org/board/">here</a>, <a href="http://forum.world.st/Squeak-Oversight-Board-2017-Results-td4934345.html">here</a>, and <a href="http://civs.cs.cornell.edu/cgi-bin/results.pl?id=E_3d5e07f8dfaf428a">here</a>.</b>
</div>
 -->
<div class="alert alert-info text-center" role="alert">
  <b>Squeak-5.3 bundles are out. 🎉 <a href="/downloads/">Grab 'em while they're hot!</a></b>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <img id="squeak-logo" src="/static/img/balloon.svg" alt="" class="img-responsive img-center">
    </div>
    <div id="welcome-text" class="col-md-6 col-lg-6">
      <h2>{{ page.headline }}</h2>
      <div>{{ page.welcome }}</div>
      <div class="text-center">
        <span>
        <a class="btn btn-primary download" href="{{ page.download_link_mac }}" target="_blank" role="button">
          <i class="fa fa-apple fa-2x"></i><br>
          macOS
        </a>
        <a class="btn btn-primary download" href="{{ page.download_link_win }}" target="_blank" role="button">
          <i class="fa fa-windows fa-2x"></i><br>
          Windows
        </a>
        <a class="btn btn-primary download" href="{{ page.download_link_lin }}" target="_blank" role="button">
          <i class="fa fa-linux fa-2x"></i><br>
          Linux (x86)
        </a>
        </span>
        <p>
        <a href="{{ page.download_link_all }}">All-in-One</a> · 
        <a href="{{ page.download_link_arm }}">Linux (ARM)</a> · 
        <a href="{{ page.release_notes_link }}" target="_blank">Release Notes</a> · 
        <a href="/downloads/">More...</a></p>

        <div id="sub-button-group" class="btn-group btn-group-sm" role="group" aria-label="...">
          {% for button in page.sub_button_group %}
          <a class="{% if button.class %}{{ button.class }} {% endif %}btn btn-default" href="{% if button.href %}{{ button.href }}{% else %}#{% endif %}" target="_blank" role="button">
            <i class="fa fa-{{ button.icon }}"></i>
            {{ button.title }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->

<div style="margin: 0 auto; background-color: #151515; border-top: 4px solid #444; border-bottom: 4px solid #444;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin: 0 auto; max-width: 1200px;">
          <a href="https://sfconservancy.org/supporter" target="_blank">
            <img style="width: 100%;"
                 src="https://sfconservancy.org/img/banners/2019-individuals-banner.png"
                 alt="Conservancy is a proponent for community driven free software projects.
                      Will you join me in supporting them? Donate today!">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="screnshot-wrapper">
  <div class="container">
    <div id="screenshots" class="row">
      {% for screenshot in page.screenshots %}
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center slideshow-item" style="{{ currentStyle }}">
        <a href="#" class="screenshot-img">
          <img src="{{ screenshot.img-src }}" alt="" class="img-responsive img-center">
        </a>
        <p class="lead">
          {{ screenshot.caption }}
          <a href="#" class="screenshot-button pull-left" data-target="left">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a href="#" class="screenshot-button pull-right" data-target="right">
            <i class="fa fa-chevron-right"></i>
          </a>
        </p>
      </div>
        {% assign currentStyle = "display: none" %}
      {% endfor %}
    </div>
  </div>
</div>

{% for section in site.collections %}
  {% if section.label == "posts" %}
    {% continue %}
  {% endif %}
  {% if section.hidden == nil or section.hidden == false %}
    {% assign items = section.docs | where: 'front-page', true | sort: 'order' %}
    {% if items != empty %}
    <div class="container">
      <div class="section">
        <span class="anchor" id="{{ section.title | slugify }}"></span>
        {% if section.mobile-title %}
        <h1 class="section-heading hidden-xs"><span>{{ section.title }}</span></h1>
        <h1 class="section-heading visible-xs"><span>{{ section.mobile-title }}</span></h1>
        {% else %}
        <h1 class="section-heading"><span>{{ section.title }}</span></h1>
        {% endif %}
        {% include row.html items=items preview=true %}

        {% assign totalCount = section.docs | size %}
        {% assign itemsCount = items | size %}
        {% if totalCount > itemsCount %}
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center section-tail">
            <p class="lead"><a href="/{{ section.label }}/"><b>More...</b></a></p>
          </div>
        </div>
        {% endif %}
      </div><!-- /.section -->
    </div><!-- /.container -->
    {% endif %}
  {% endif %}
{% endfor %}
