 <footer class="footer">
  <div class="container text-center">
    <p class="small">
        &copy; 1996-{{ site.time | date: '%Y' }} {{ site.copyright }} -
        <a href="/imprint/">Imprint</a> -
        <a href="https://lists.squeakfoundation.org/archives/list/squeak-dev@lists.squeakfoundation.org/" target="_blank"><i class="fa fa-globe"></i></a>
        <a href="https://fosstodon.org/@squeak" rel="me" target="_blank">
          <svg viewBox="0 0 417.8 456.5" aria-hidden="true" aria-label="Mastodon" style="width: 0.9em; height: 0.9em; vertical-align: -0.1em; fill: currentColor;">
            <path transform="translate(0 423.3) scale(1 -1)" fill="currentColor" d="M417.8 268.9C417.8 366.1 354.1 394.6 354.1 394.6C291.6 423.3 125.6 423 63.7 394.6C63.7 394.6 0 366.1 0 268.9C0 153.2 -6.6 9.5 105.6 -20.2C146.1 -30.9 180.9 -33.2 208.9 -31.6C259.7 -28.8 288.2 -13.5 288.2 -13.5L286.5 23.4S250.2 12 209.4 13.3C169 14.7 126.4 17.7 119.8 67.3C119.2 71.7 118.9 76.3 118.9 81.2C204.5 60.3 277.5 72.1 297.6 74.5C353.7 81.2 402.6 115.8 408.8 147.4C418.6 197.2 417.8 268.9 417.8 268.9ZM342.7 143.7H296.1V257.9C296.1 307.6 232.1 309.5 232.1 251V188.5H185.8V251C185.8 309.5 121.8 307.6 121.8 257.9V143.7H75.1C75.1 265.8 69.9 291.6 93.5 318.7C119.4 347.6 173.3 349.5 197.3 312.6L208.9 293.1L220.5 312.6C244.6 349.7 298.6 347.4 324.3 318.7C348 291.4 342.7 265.7 342.7 143.7Z"/>
          </svg>
        </a>
        <a href="https://twitter.com/squeaksmalltalk" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/groups?gid=98736" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/squeak-smalltalk" target="_blank"><i class="fa fa-github"></i></a>
    </p>
  </div>
</footer>

<!-- Donations -->
<form id="paypal-donations" action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="6WECWGYHQF2A6">
</form>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/svgeezy.min.js"></script>
<script src="/static/js/ready.js?v={{ site.build_version }}"></script>
