<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{{ site.title }}{% if page.section.title %} | {{ page.section.title }}{% else %}{% if page.title %} | {{ page.title }}{% endif %}{% endif %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
  <!--[if IE]><link rel="shortcut icon" href="/static/img/favicon.ico"><![endif]-->

  <!-- CSS -->
  <link href="/static/site.css?v={{ site.build_version }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->

  {% seo title=false %}
</head>