{% include globals.html %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{{ site.title }}{% if page.section.title %} | {{ page.section.title }}{% endif %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{{ staticPath }}img/favicon.png" />
  <!--[if IE]><link rel="shortcut icon" href="{{ staticPath }}img/favicon.ico"><![endif]-->

  <!-- CSS -->
  <link href="{{ staticPath }}site.css{{ cacheSuffix }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="{{ staticPath }}js/html5shiv.min.js"></script>
    <script src="{{ staticPath }}js/respond.min.js"></script>
  <![endif]-->
</head>