<div class="row">
  <div class="col-md-8 col-lg-8">
    <h3 class="text-center-sm">
      {% if item.href %}
      <a href="{{ item.href }}"{% if item.href-external %} target="_blank"{% endif %}>
      {% endif %}
        {{ item.title }}
      {% if item.href %}
      </a>
      {% endif %}
    </h3>
    {{ item.caption }}
  </div>
  <div class="img-col col-md-4 col-lg-4 text-center">
    {% if item.href %}
    <a href="{{ item.href }}"{% if item.href-external %} target="_blank"{% endif %}>
    {% endif %}
      {% if item.img-src %}
      <img src="{{ basePath }}img/{{ item.img-src }}" alt="" class="item-img img-center img-rounded img-responsive{% if item.img-border %} img-border{% endif %}">
      {% else %}
      <div class="box-icon">
        <i class="fa fa-{{ item.icon }}"></i>
      </div>
      {% endif %}
    {% if item.href %}
    </a>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    {{ item.content }}
  </div>
</div>
