<div class="row">
  <div class="col-md-12 col-lg-12">
    {% assign isReleaseNotesOverview = page.section and page.section.label == 'release_notes' %}

    {% if item.title %}
    <span class="anchor" id="{{ item.title | slugify }}{% if item.order %}-{{ item.order }}{% endif %}"></span>
    <h3 class="text-center-sm">
      {% if isReleaseNotesOverview %}
      <a href="{{ item.url }}">
      {% elsif item.href %}
      <a href="{{ item.href }}"{% if item.href-external %} target="_blank"{% endif %}>
      {% endif %}
        {{ item.title }}
      {% if isReleaseNotesOverview or item.href %}
      </a>
      {% endif %}
    </h3>
    {% endif %}

    {% if isReleaseNotesOverview %}
    <p>{{ item.content | strip_html | normalize_whitespace | truncatewords: 80 }}</p>
    <p><a href="{{ item.url }}">Read full release notes</a></p>
    {% else %}
    {{ item.content }}
    {% endif %}
  </div>
</div>