<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="squeak-navbar-mobile" class="visible-xs pull-left" href="{{ basePath }}">
        <img alt="Squeak Smalltalk" src="{{ staticPath }}img/squeak.svg" alt="">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="hidden-xs">
          <a id="squeak-navbar" href="{{ basePath }}">
            <img alt="Squeak Smalltalk" src="{{ staticPath }}img/squeak.svg" alt="">
          </a>
        </li>
        {% for collection in site.collections %}
          {% assign liClass = '' %}
          {% if collection[1].label == page.section %}
            {% assign liClass = 'active' %}
          {% endif %}
          {% if collection[1].hidden == nil or collection[1].hidden == false %}
        <li class="{{ liClass }}">
          <a href="{{ basePath }}{{ collection[1].label }}/">
            {% if collection[1].visible-sm %}
            <span class="hidden-sm">{{ collection[1].title }}</span>
            <span class="visible-sm">{{ collection[1].visible-sm }}</span>
            {% else %}
            {{ collection[1].title }}
            {% endif %}
          </a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.section == 'license' %} class="active"{% endif %}>
          <a href="{{ basePath }}license/">
            <span class="hidden-sm">License</span>
            <span class="visible-sm"><i class="fa fa-file-text-o"></i></span>
          </a>
        </li>
        <li>
          <a class="donate-button" href="#">
            <i class="fa fa-heart"></i>
            <span class="hidden-sm">Donate</span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav>