<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="squeak-navbar-mobile" class="visible-xs pull-left" href="{{ site.baseurl }}/">
        <img alt="Squeak Smalltalk" src="{{ site.url }}{{ site.baseurl }}/img/squeak.svg">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="hidden-xs"><a id="squeak-navbar" href="{{ site.baseurl }}/"><img alt="Squeak Smalltalk" src="{{ site.url }}{{ site.baseurl }}/img/squeak.svg"></a></li>
        {% for collection in site.collections %}
          {% if collection[1].label != 'projects' and (collection[1].hidden == nil or collection[1].hidden == false) %}
            {% assign li-class = '' %}
            {% if collection[1].label == page.section %}
              {% assign li-class = 'active' %}
            {% endif %}
        <li class="{{ li-class }}">
          <a href="{{ site.baseurl }}/{{ collection[1].label }}/">
            {% if collection[1].visible-sm %}
            <span class="hidden-sm">{{ collection[1].title }}</span>
            <span class="visible-sm">{{ collection[1].visible-sm }}</span>
            {% else %}
            {{ collection[1].title }}
            {% endif %}
          </a>
        </li>
          {% endif %}
          {% if collection[1].label == 'projects' %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ base-path }}projects/">All Projects</a></li>
            <li class="divider"></li>
            {% for tag in project_tags %}
            <li><a href="{{ base-path }}projects/#filter={{ tag | uri_escape }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% assign li-class = '' %}
        {% if page.section == 'license' %}
          {% assign li-class = 'active' %}
        {% endif %}
        <li class="{{ li-class }}">
          <a href="{{ site.baseurl }}/license/">
            <span class="hidden-sm">License</span>
            <span class="visible-sm"><i class="fa fa-file-text-o"></i></span>
          </a>
        </li>
        <li>
          <a class="donate-button" href="#">
            <i class="fa fa-heart"></i>
            <span class="hidden-sm">Donate</span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>