{% assign section = site.collections[include.section] %}
{% assign items = section.docs | where: 'front-page', true | sort: 'order' %}
{% if items != empty %}
<div class="container">
  <div class="section">
    <span class="anchor" id="{{ section.title | slugify }}"></span>
    {% if section.mobile-title %}
    <h1 class="section-heading hidden-xs"><span>{{ section.title }}</span></h1>
    <h1 class="section-heading visible-xs"><span>{{ section.mobile-title }}</span></h1>
    {% else %}
    <h1 class="section-heading"><span>{{ section.title }}</span></h1>
    {% endif %}
    {% include row.html items=items preview=true %}

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center section-tail">
        <p class="lead"><a href="/{{ section.label }}/"><b>More...</b></a></p>
      </div>
    </div>
  </div><!-- /.section -->
</div><!-- /.container -->
{% endif %}