html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 60px; /* footer height */
}

/* Tweaks */
.list-group-item > .fa {
    float: right;
    margin: 5px 0 5px 8px;
}

pre {
    overflow-x: auto;
    font-size: 12px;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

img[src*=".svg"] { /* Fix SVGs in IE */
    width: 100%;
}

.navbar img[src*=".svg"] { /* Turn off SVG fix in navbar */
    width: auto;
}

.list-group-sm {
    font-size: 14px;
    border-radius: 3px
}

.list-group-sm .list-group-item {
    padding: 7px 10px 6px 10px;
    line-height: 1.5;
}


/* Navigation */
#squeak-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

#squeak-navbar img {
    height: 40px;
}

#squeak-navbar-mobile img {
    height: 40px;
    margin: 5px 15px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}

/* Home */
#squeak-logo {
    padding: 32px 16%;
}

#welcome-text {
    margin-top: 18px;
}

#download-button {
    margin-top: 12px;
}

#download-button i {
    margin-right: 12px;
}

#sub-button-group {
    margin-bottom: 12px;
}

#screnshot-wrapper {
    margin: 20px auto;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#screenshots .lead {
    padding-top: 20px;
}

.more-content {
    margin-top: 12px;
}

.section-heading {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.section-heading span {
    color: $brand-primary;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $brand-primary;
}


/* Bibliography */
ol.bibliography {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

ol.bibliography li {
    padding: 10px 0;
}


/* Sections */
.section {
    min-height: 100%;
    margin-bottom: 40px;
}

.section h3 {
    margin-top: 12px;
}

.section>.container>.row {
    padding: 12px;
}

.section-head, .section-tail {
    padding: 12px 0;
}


/* Items */
.item {
/*    height: 225px;
    overflow-y: hidden;*/
}

.item h3 {
    color: $brand-primary;
}

.img-col {
    margin-top: 16px;
}

.img-border {
    border: 1px solid #ccc;
}

.box-icon {
    display: block;
    max-width: 162px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f5f5f5;
    vertical-align: middle;
    margin: 0 auto;
}

.box-icon i {
    color: #444;
    padding: 34px 26px 30px 26px;
    font-size: 96px;
    margin: auto;
}


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}


/* Helpers */
.img-center {
    margin: 0 auto;
}

.clickable {
    cursor: pointer;
}

a.no-underline:hover {
    text-decoration: none;
}

.text-center-sm {
    text-align: center;
}


/* Small devices only */
@media (max-width:991px){
    .item {
        height: auto;
        overflow-y: auto;
    }

    .item-img {
        max-width: 200px;
    }

    pre {
        font-size: 12px;
        white-space: nowrap;
    }
}


/* Large devices only */
@media (min-width:992px) and (max-width:1199px){
    .box-icon i {
        font-size: 64px;
    }
}


/* All larger devices */
@media (min-width:992px){
    .text-center-sm {
        text-align: left;
    }

    .max-width-360-lg {
        max-width: 360px;
    }
}
