---
---
{{ reference }}

{% if entry.url %}
<a href="{{ entry.url }}" target="_blank">{{ entry.url }}</a>.
{% elsif entry.doi %}
<a href="https://doi.org/{{ entry.doi }}" target="_blank">https://doi.org/{{ entry.doi }}</a>.
{% endif %}

<a href="#" tabindex="0" role="button" data-toggle="popover" title="BibTeX Export" data-target="#{{ entry.key | slugify }}">[BibTeX]</a>
<div id="{{ entry.key | slugify }}" class="hide">
<div class="highlight">
    <pre><code>{{ entry.bibtex }}</code></pre>
</div>
</div>
