<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    {% assign section = site.collections[page.section] %}
    {% assign items = section.docs | sort: 'order' %}
    <div class="container">
      <div id="community" class="section">
        <div class="section-heading"><span>{{ section.label | capitalize }}</span></div>
        {% include rows.html limit=items.size %}
      </div>
    </div> <!-- /container -->

    {% include footer.html %}

  </body>

</html>
