<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    {% assign section = site.collections[page.section] %}
    <div class="container">
      <div class="section">
        <div class="section-heading"><span>{{ section.title }}</span></div>
        {% assign groups = section.docs | sort: section.sort_by | group_by: 'category' %}

        {% for row in groups %}
          {% if row.name != "" %}
        <h2>{{ row.name }}</h2>
          {% endif %}
          {% include row.html items=row.items %}
        {% endfor %}

        {{ content }}
      </div>
    </div> <!-- /container -->

    {% include footer.html %}

  </body>

</html>
